html { overflow-y: hidden; }


.hero{
    background-image: url('../img/bg.png');
    background-repeat:no-repeat;
    background-position:center top;
    /*background-size: 1900px;*/
    background-repeat: repeat;
    height:100%;
    width: 100%;
}

body{
    margin:0;
    height:100%;
}

html{
    height:100%;
}

h1{
    //font: 60px/68px 'BebasRegular', Arial, sans-serif;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-weight: 200; 
	font-size:60px;
    /*letter-spacing: 5;*/
    color:white;
    text-align: center;
    margin:0px;
    padding-top:10px;
}

p{
   /* float:left;*/
    display:inline;
    font-family: helvetica;
    color:white;
}

a{
    display:inline;
    font-family: helvetica;
    color:white;
    text-decoration: none;
}

.content{
    height:800px;
    width:100%;
    background-image: url("../img/bg6.png");

}


.podbar{
    bottom:0;
    width:100%;
    position:fixed;
    margin-left: -8px;
    display:block;
    background-color: black;
    color: white;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:20px;
}




@font-face {
    font-family: 'BebasRegular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#defaultCountdown { 
    /*padding-top: 100px;*/
/*    width: 1000px; 
    height: 45px; 
    position:absolute;
    left:50%;
    top:40%;
    margin:-22px 0 0 -500px;*/

/*  margin:0 auto;
    margin-top:100px;
*//*    position:absolute;
    left:50%;
    top:50%;*/
    padding-top: 150px;
    width: 1200px;
    margin: 0 auto;


}

.countdown_row {
    /*clear: both;*/
    width: 100%;
    padding: 0px 2px;
    text-align: center;
}

.countdown_section {
	display: inline;
	float: left;
	font-size: 52px;
	//font: 60px/68px 'BebasRegular', Arial, sans-serif;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-weight: 200; 
	color:white;

    margin-bottom: 50px;
    width: 290px;
}


.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}


/*#FF33CC*/

.hasCountdown {
	border: 0px solid #ccc;
	/*background-color: #FFFFFF;*/
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	/*width: 24.5%;*/
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}


#footer{
   position:absolute;
   bottom:0;
   width:99%;
   height:30px;   
   /*background:#6cf;*/
}

.fb-like{
    cursor: auto;
    display: inline;
    height: auto;
    width: auto;
    margin-left: 10px;
    float:left;
}

.link-right{
/*    margin-right:5px;
    margin-bottom:10px;*/
    
    float:right;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 300; 
    font-size:15px;
    color:white;
}

.tweet{
    float:left;
    margin-left: 10px;
    display: inline-block;
}


@media (max-width: 1200px) {
    #defaultCountdown{
        width:600px;
        padding-top: 0px;
    }
   
}

@media (max-width: 600px) {
    #defaultCountdown{
        width:300px;
        padding-top: 0px;
    }
    .countdown_section {
        font-size: 27px;
        margin-bottom: 25px;

    }
   
}