body{
	background: url("../img/cover.png") no-repeat center center fixed;

	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-color: black;*/
	color:white;
}
.center{

	text-align: center;
}

h1{
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200; 
	font-size:50px;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
}

input,select{
	border:0px;
}

.title{
	background: rgba(255, 255, 255, 0.28);
    border: none;
    outline: none;
    color:white;
}


#id_day, #id_month, #id_year, #id_hour, #id_minute{
	font-size: 20px;
	padding:12px;
	background: rgba(255, 255, 255, 0.28);
    border: 1px solid gray;
    outline: none;
    color:white;

   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

   -webkit-appearance: none;
    border-radius: 0;
} 


.input-big{
	font-size: 27px;
}

.input-small{
	font-size: 15px;
}


.input {
	/*display: block;*/
	font-family: 'Open Sans', sans-serif;
}
.input span {
	position: absolute;
	padding: 5px;
	margin-left: 3px;
	color: #999;
	z-index: 1;
	cursor: text;
	pointer-events: none;
}
.input input, .input textarea, .input select {
	z-index: 0;
	padding: 6px;
	margin: 0;
	font: inherit;
}
/* Hack to remove Safari's extra padding. Remove if you don't care about pixel-perfection. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}
.submit{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 12px;
	width: 200px;
	background-color: #5974CE;

	-webkit-appearance: none;
    	border-radius: 0;
}

.error{
	text-align: center;
}


@media (max-width: 700px) {
    h1{
        font-size:30px;    
    }
    .input-big{
	font-size: 20px;
	}
	.submit{
		font-size: 15px;
		width: 150px;
	}
 	
 	body{
		background-color: black;
		background-image: none;
	}
   
}