<!-- alias:{{ timer.alias }}
<br>
title:{{ timer.title }}
<br>
target: {{ timer.target_date }}
<br>
minute: {{ timer.target_date.hour }} -->


<!--Made by Joseph Tang-->
<!--josephtang765@gmail.com-->
<!--@joseph765-->
<!--https://www.facebook.com/JTLX09-->

{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=1000px;">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery.countdown.css" %}"> 
	<script type="text/javascript" src="{% static "js/jquery.countdown.js" %}"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>

	<title>{{ timer.title }}</title>
	<link rel="shortcut icon" href="http://www.iconj.com/ico/b/c/bc3nylpbq5.ico" type="image/x-icon" />
	<link id="themer" rel="stylesheet" href="{% static "css/black.css" %}" type="text/css" charset="utf-8">


	<script type="text/javascript">
	$(function () {
	var aDay = new Date();
	aDay = new Date({{ timer.target_date.year }}, {{ timer.target_date.month }} - 1, {{ timer.target_date.day }}, {{ timer.target_date.hour }}, {{ timer.target_date.minute }} ,0 ,0);
	$('#defaultCountdown').countdown({until: aDay});
	$('#year').text(aDay.getFullYear());
	});
	</script>
</head>

<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>





	<div class="hero">
		<h1>{{ timer.title }}</h1>

		<div id="content" style="text-align:center;">
			<div id="defaultCountdown"></div>
		</div>
	</div>


	<div id="footer">
		<div class="fb-like" data-href="http://aleveltimer.net76.net/" data-width="20" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<div class="tweet">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="joseph765" data-dnt="true">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
		<a class="link-right" href="{% url 'index' %}">Create your own timer</a>


	</div>





</body>

</html>