	{% load staticfiles %}
{% load static %}



<!DOCTYPE html>
<head>
	<title>Countdown</title>
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
</head>


<body>

	<div class="center">
		<h1>Countdown</h1>
		<form id="timerform" action="{% url 'createtimer' %}" method="POST"> {% csrf_token %}

			<label class="input input-big">
				<span>What's happening?</span>
				<input type="text" class="title" name="title" />
			</label>

			<br><br>
			<label class="input input-small">
				<span>DD</span>
				{{ CountdownForm.day }}
			</label>
			<label class="input input-small">
				<span>MM</span>
				{{ CountdownForm.month }}
			</label>
			<label class="input input-small">
				<span>YYYY</span>
				{{ CountdownForm.year }}
			</label>
			<br><br>
			<label class="input input-small">
				<span>HH</span>
				{{ CountdownForm.hour }}
			</label>

			<label class="input input-small">
				<span>MM</span>
				{{ CountdownForm.minute }}
			</label>
		
			<br><br>
			<input class="submit" type="submit" value="Countdown!" />
		</form>
	</div>

	{% if messages %} 
		{% for message in messages %} 
			<div class="error">{{ message }} </div>
		{% endfor %} 
	{% endif %}

</body>